<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p class="lead">
        <a href="/rooms">Room List</a></p>
      <div class="list-group">
        <% rooms.forEach(function(roomList){ %>
            <li class="list-group-item"><a class="" href="/rooms/<%= roomList._id %>"><%= roomList.name %></a></li>
        <% }); %>
      </div>
    </div>
    <div class="col-md-10">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= room.image %>" alt="Room Image">
        <div class="caption-full">
          <h4><a><%= room.name %></a></h4>
          <p><%= room.description %></p>
          <a class="btn btn-xs btn-warning" href="/rooms/<%= room._id %>/edit">Edit</a>
          <form id="delete-form" class="" action="/rooms/<%= room._id %>?_method=DELETE" method="post">
            <button class="btn btn-xs btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <div class="well">
        <div class="text-center">
          <h3>Room Inventory</h3>
          <a class = "btn btn-xs btn-success" href="/rooms/<%= room._id %>/items/new">Add New Item</a>
        </div>
        <hr>
        <% room.items.forEach(function(item){ %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= item.name %></strong>
              <span class="pull-right">added 10 days ago</span>
              <p>
                <%= item.description %>
                <div class="row">
                    <% item.image.forEach(function(img){ %>
                      <div class="col-md-2">
                        <img class="img-fluid img-thumbnail" src="<%= img %>" alt="">
                      </div>
                    <% }) %>
                </div>
              </p>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
